@font-face {
    font-family: 'RuneScape';
    src: url('RuneScapeBold.woff2') format('woff2'),
        url('RuneScapeBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RuneScape';
    src: url('RuneScape.woff2') format('woff2'),
        url('RuneScape.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

